.cartContainer {
  display: flex;
}

.cartIcon {
  font-size: 1.5rem;
  font-weight: 800;
}

.cartText {
  font-size: 0.9rem;
}
.cartContainer:hover {
  cursor: pointer;
}
.linkKart {
  text-decoration: none;
  color: var(--normalColor);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .cartContainer {
    display: none;
  }
}
