.logoContainer {
  width: 12%;
}
.snapDealLogo {
    width: 100%;
}


@media screen and (max-width:1200px) {
  .logoContainer{
    width: 14%;
  }
}
@media screen and (max-width:1000px) {
  .logoContainer{
    width: 16%;
  }
}
@media screen and (max-width:900px) {
  .logoContainer{
    width: 17%;
  }
}
@media screen and (max-width:700px) {
  .logoContainer{
    width: 19%;
  }
}
@media screen and (max-width:600px) {
  .logoContainer{
    width: 21%;
    margin-left: -0.5rem;
  }
}
@media screen and (max-width:400px) {
  .logoContainer{
    width: 50%;
  }
}
@media screen and (max-width:370px) {
  .logoContainer{
    width: 40%;
    margin-left: 1rem;
  }
}