.mens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 2rem auto;
  gap: 0.5rem;
  place-items: center;
}
.imageContainer {
  width: 70%;
}
.img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.mainCard {
  border-radius: 4px;
  padding: 1rem;
  line-height: 25px;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  height: 100%;
  width: 100%;
}
.mainCard:hover {
  cursor: pointer;
  border-radius: 6px;
}
.btn {
  background-color: var(--btnColor);
  padding: 0.7rem;
  border-radius: 4px;
  color: var(--normalColor);
  border: none;
  outline: none;
}
.btn:hover {
  cursor: pointer;
}
.btnProceed {
  background-color: var(--btnColor);
  padding: 0.7rem;
  border-radius: 4px;
  color: var(--normalColor);
  border: none;
  outline: none;
  margin-left: 0.4rem;
}
.btnProceed:hover {
  cursor: pointer;
}
.short {
  font-size: 0.9rem;
  color: var(--btnColor);
}
.heading {
  color: var(--btnColor);
  margin: 0.5rem 0;
  text-align: center;
}
.cartHeading {
  color: var(--btnColor);
}
@media screen and (max-width: 900px) {
  .mens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .mens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .mens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
