.mens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 2rem auto;
  gap: 0.5rem;
  place-items: center;
}
.imageContainer {
  width: 70%;
}
.img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.mainCard {
  border-radius: 4px;
  padding: 1rem;
  line-height: 25px;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  height: 100%;
  width: 100%;
}
.mainCard:hover {
  cursor: pointer;
  border-radius: 6px;
}
.btn {
  background-color: var(--btnColor);
  padding: 0.7rem;
  border-radius: 4px;
  color: var(--normalColor);
  border: none;
  outline: none;
}
.btn:hover {
  cursor: pointer;
}
.btnProceed {
  background-color: var(--btnColor);
  padding: 0.7rem;
  border-radius: 4px;
  color: var(--normalColor);
  border: none;
  outline: none;
  margin-left: 0.4rem;
}
.btnProceed:hover {
  cursor: pointer;
}
.short {
  font-size: 0.9rem;
  color: var(--btnColor);
}
.heading {
  color: var(--btnColor);
  margin: 0.5rem 0;
  text-align: center;
}
.cartHeading {
  color: var(--btnColor);
}

/* Payment Modal */
.paymentModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: auto;
}

.paymentModal h2 {
  margin-bottom: 10px;
}

.paymentModal ul {
  padding: 0;
  margin-bottom: 10px;
}

.paymentModal li {
  list-style-type: none;
  margin-bottom: 5px;
}

.paymentModal button {
  margin-right: 10px;
}

/* Success Popup */
.successPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: popupFadeIn 0.5s forwards;
}

.successMessage {
  display: flex;
  align-items: center;
}

.successIcon {
  margin-right: 20px;
}

.successIcon svg {
  width: 50px;
  height: 50px;
  stroke: #4caf50;
}

.successMessage p {
  font-size: 24px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.loaderContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  border: 6px solid transparent;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin-pulse 2s linear infinite;
}

@keyframes spin-pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8) rotate(360deg);
    opacity: 0.5;
  }
}

.productsDetails {
  color: var(--btnColor);
  line-height: 2;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.sort{
  width: 30%;
  margin-left: 4.5rem;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 900px) {
  .mens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .mens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .paymentModal {
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 640px) {
  .mens {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .paymentModal {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 360px) {
  .paymentModal {
    width: 90%;
    margin: auto;
  }
}
