.main {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
  border-radius: 6px;
  display: flex;
  width: 50%;
  padding-top: 7rem;
  gap: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

}
.btn {
  background-color: var(--btnColor);
  padding: 0.7rem;
  border-radius: 4px;
  color: var(--normalColor);
  border: none;
  outline: none;
}
.btn:hover {
  cursor: pointer;
}
.image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.subtitle,
.price,
.short {
  margin-bottom: 0.5rem;
}
.img{
  width: 60%;
}
.loading {
  color: var(--btnColor);
  font-size: 1.3rem;
}

@media screen and (max-width: 900px) {
  .main {
    width: 70%;
  }
}
@media screen and (max-width: 760px) {
  .main {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .main {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .main {
    width: 95%;
   
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}
