.successToast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 16px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: bounce 0.5s, slideIn 0.5s forwards, fadeOut 0.5s 5s forwards;
}

.toastMessage {
  font-size: 16px;
}

@keyframes slideIn {
  from {
    top: -100px;
  }
  to {
    top: 20px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
