.main {
    width: 90%;
    display: flex;
    margin: auto; 
    margin-bottom: 1rem;
}

@media screen and (max-width:1168px) {
    .main{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        gap: 1rem;
    }
}

