

:root {
  --headerColor: #c6003d;
  --mainColor: #e40046;
  --sectionColor: #ffffff;
  --btnColor: #333333;
  --normalColor: white;
}
body {
  background-color: #f7f7f7;
  font-family: sans-serif;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
